# Исключаем bitrix/
/bitrix/*
# Явно исключаем кеш и временные папки, на случай, если само ядро Битрикс все же будет храниться
# в репозитории.
/bitrix/managed_cache
/bitrix/stack_cache
/bitrix/cache
/bitrix/html_pages
/bitrix/tmp
# Храним php_interface - здесь размещается init.php и сопутствующий код, изменения которого нужно контролировать.
!/bitrix/php_interface
!/bitrix/php_interface/*
!/bitrix/php_interface/**
# Здесь хранятся настройки БД, исключаем.
/bitrix/php_interface/dbconn.php
# Таким образом, файлы, лежащие непосредственно в папке bitrix/ (например, settings.php), также оказались исключены.
# Так и задумано.

# .htaccess на каждом сервере свой, исключаем.
# Если требуется хранить изменения .htaccess боевого сайта, его нужно хранитьв другом файле и устанавливать
# при деплое.
.htaccess

# Часто используемая папка для временных файлов
/tmp

# Эти файлы постоянно изменяются. Их первоисточник - база данных, они могут быть в любой момент сгенерированы
# заново и на самом деле меняются практически каждый день, поэтому хранить в репозитории их нет смысла.
# файлы не
/sitemap_iblock*
/sitemap_files*
/sitemap.xml
/y-market/*.xml

# Слишком большой объем для хранения в репозиторий. Нужно также договариваться, чтобы менеджеры контента
# размещали здесь документы, изображения и прочее (часто они загружают документы прямо в корень сайта,
# что неудобно при работе с репозиторием).
/upload

# Это импорт инфоблоков. Они будут исключены также маской архивов выше, но для большей ясности пусть
# для них будет полностью независимая запись в .gitignore.
*_files
*_files.zip
*_files.tar.gz
# битрикс делает
.htaccess_back*

# Там мы будем называть свои временные скрипты для тестов и не будем хранить их в репозитории.
/dev-*

# Файлы, которые часто создают хостинги (и забывают удалить).
.well-known


# Маски файлов.

# логи
*.log
# Архивы 
*.gz
*.bz
*.bz2
*.tar
*.zip
*.rar
*.7z
*.tar.gz
# Операционки делают
.DS_Store
Thumbs.db
# vim
*.swp
*.swo
*.swq
# бэкапы
*.bak
*.BAK

#
# ИСКЛЮЧЕНИЯ ПРОЕКТА
# Далее можно добавлять исключения (или антиисключения), индивидуальные для проекта.
#

# Частые ситуации (раскомментировать при необходимости)

## composer
#!/composer.json
#!/composer.lock

## vendor/. Если процесс деплоя не предполагает полную сборку перед деплоем (проще говоря, "деплой через git pull"),
## приходится хранить его в репозитории. Не рекомендуется, но встречается.
#!/vendor

